*{
  font-family: 'fostbold' !important;
}
body {
  background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.loading_screen{
    max-width: 100%;
    width: 100%;
    height: 100vh;
    background-color: rgb(10 34 47 / 70%);
    position: fixed;
    z-index: 9;
    float: left;
    margin-bottom: 5px;
    text-align:center;
}

.loading_screen img{
  vertical-align: middle;
  margin-top: 23%;
  margin-bottom: 23%;
  margin-left: auto;
  margin-right: auto;
}

.ins_theme{
  background: #35708e;
  color: white;
}

.ins-color{
  color: #35708e;
}

.form-control-select{
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: 0px !important;
    /*padding: 25px 15px !important;*/
    height: 52px;
}

.co_author_div{
  display: none;
}
.btn-article{
  padding: 15px;
  background-color: #3f85a9;
  color: white;
  text-decoration: none !important;
}

.btn-article:hover{
  background-color: #224b60;
  color: white !important;
}

.ins-white{
  color: white;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.response{
  color: #224b60;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    background-color: #224b60 !important;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #35708e;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    margin-top: 5rem;
    background: #35708e;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    padding-left: 20px;
    font-size: 1.1em;
    display: block;
    color: white;
    text-decoration: none;
    font-family: 'fostbook' !important;
}

h4{
    font-family: 'fostdemi' !important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  max-width: 11rem;
  width: 11rem;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #35708e;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #224b60;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
.nav-link{
  color: white;

}

.nav-link:hover{
  color: #35708e !important;  
}

.logo{
  margin: 1.5rem;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #35708e;

    cursor: pointer;
}

#sidebarCollapse span {
    width: 100%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #fff;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}
#sidebarCollapse span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

#collapse2 span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#collapse2 span:nth-of-type(2) {
    opacity: 0;
}
#collapse2 span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
}

.btn-right-delete{
    font-size: 12px !important;
    float: right;
    border:none !important;
}

.btn-right{
    font-size: 12px !important;
    float: right;
    background-color: #35708e !important;
    border:none !important;
}

.btn-right:hover{
    background-color: #ffff !important;
    color: #35708e !important;
    border:none !important;
    transition: 0.5s;
}

.btn-right-select{
    font-size: 12px !important;
    float: right;
    background-color: #224b60 !important;
    border:none !important;
}
.btn-right-select:hover{
    background-color: #ffff !important;
    color: #224b60 !important;
    border:none !important;
    transition: 0.5s;
}

.checkbox_div{
    background-color: #35708e !important;
}

.cont{
    color: white !important;
    background-color: #224b60;
    font-weight: bold;
    padding: 0.5rem;
}

.custom-checkbox{
    padding-top: 0;
    padding-bottom: 0;
    color: white;
}

.container > form{
    padding: 2rem;
}

.h-size-color{
    color: #35708e;
    font-size: 3rem;
}

.content-acknowledgement{
    padding: 4rem;
    background-color: #c4c4c4;
}

.flex{
    display: inline-flex;
}

p{
    color: black !important;
}

.span{
    padding: 1rem;
}

.span > input[type=checkbox] {
    transform: scale(1.5);
}

#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

.btn-continue{
    max-width: 17.8rem;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.btn-continue2{
    
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.form-control{
    border-radius: 0px !important;
    padding: 25px 15px !important;
}

.row{
    margin: 10px;
}

.p-style{
    font-weight: lighter;
    font-family: 'fostdemi' !important;
    font-size: 0.9rem;
}

.btn-continue > button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border:none;
    background-color: #35708e;
    color: white;
    width: 100%;
    cursor: pointer;
}

.btn-continue > button:hover{
    background-color: #224b60;
    transition: 0.5s;

}

.btn-continue2 > button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border:none;
    background-color: #35708e;
    color: white;
    width: 100%;
    cursor: pointer;
}

.btn-continue2 > button:hover{
    background-color: #224b60;
    transition: 0.5s;

}

#article_title{
    width: 100%;
    padding: 1rem;
}

#article_type{
    width: 100%;
    padding: 1rem;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }
    .logo{

    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }

}


/*FILE UPLOAD*/

.bg-color{
    background: #224b60;
    /* border: solid 1px #35708e; */
    color: white;
}

.file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  min-width: 150px;
  max-width: 150px;
  margin: 0;
  color: #fff;
  background: #224b60;
  border: none;
  padding: 2px;
  border-radius: 4px;
  border-bottom: 4px solid #224b60;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #224b60;
  position: relative;
  background-color: white;
}


.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h4 {
  font-weight: 100;
  text-transform: uppercase;
  color: #224b60;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}
